
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502703779765'); /* IE9*/
  src: url('iconfont.eot?t=1502703779765#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502703779765') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502703779765') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502703779765#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e60a"; }

.icon-category:before { content: "\e699"; }

.icon-bofangliebiao:before { content: "\e610"; }

.icon-liuyan:before { content: "\e6fc"; }

.icon-houtui:before { content: "\e67b"; }

.icon-diantai:before { content: "\e7e5"; }

.icon-paixingbang:before { content: "\e7bd"; }

.icon-yonghu:before { content: "\e61c"; }

.icon-rili:before { content: "\e647"; }

.icon-cplay1:before { content: "\e61a"; }

.icon-fenxiang:before { content: "\e627"; }

.icon-wangyiyunyinlezizhi-copy:before { content: "\e61e"; }

.icon-wodeshoucang:before { content: "\e65f"; }

.icon-users:before { content: "\e61f"; }

.icon-yinyue:before { content: "\e680"; }

.icon-shoucang:before { content: "\e601"; }

.icon-diantaibaoshe:before { content: "\e626"; }

.icon-xihuan:before { content: "\e60d"; }

.icon-xiazai:before { content: "\e646"; }

.icon-pause:before { content: "\e628"; }

.icon-ef-dot:before { content: "\e603"; }

